@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="py-6" style="background-image: url('/img/bg-3.jpg'); background-size:cover; background-position-x:0; background-position-y:top;background-repeat:no-repeat">
	<div class="container">
		<div class="row pb-3">
			<div class="col-lg-6">
				<div class="form-body">
					<div class="row">
						<div class="form-holder">
							<div class="form-content">
								<div class="form-items">
									<h3>Sign In To Portal</h3>
									<p>Enter your details to login to your account</p>

									<form class="requires-validation" novalidate>
										
										<div class="col-md-12 mb-4">
											<input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
											<div class="valid-feedback">Email field is valid!</div>
											<div class="invalid-feedback">Email field cannot be blank!</div>
										</div>

										<div class="col-md-12 mb-4">
											<input class="form-control" type="password" name="password" placeholder="Password" required>
											<div class="valid-feedback">Password field is valid!</div>
											<div class="invalid-feedback">Password field cannot be blank!</div>
										</div>


										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
											<label class="form-check-label">Remember me</label>
										</div>


										<div class="form-button mt-3">
											<button id="submit" type="submit" class="btn btn-primary">Login</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="notice notice-brown">
					<strong>Important Notice:</strong> Ensure that you have obtained five O’ level credits (SSCE/NECO/NABTEB) in the relevant subjects for your programme of study including English Language and Mathematics in not more than two sittings
				</div>
				<div class="card border">
					<div class="card-body p-4">
						<div class="d-flex align-items-center mb-3">
							<div class="ps-3">
								<h5 class="mb-1 mt-2">Nikita</h5><small class="d-block text-muted h5 fw-normal">Bootstrap Themes</small>
							</div>
						</div>
						<p class="lead mb-2">
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="py-5">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<h2 class="mb-3">
					Need Admission checker PIN?
				</h2>
				<p class="text-muted">
                    <strong>Note:</strong> You will be required to Pay the sum of Two Thousand naira only (N2,000.00) to purchase your admission checker PIN.
				</p>
				<a href="#!" class="align-middle btn btn-brown btn-lg mt-n1">
					Click to Buy PIN
				</a>
			</div>
		</div>
	</div>
</section>