@page
@model UnicalPortalDemoPages.Pages.SlipModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admission Slip</title>
    <meta charset="utf-8" />
    <meta name="description" content="Good admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets." />
    <meta name="keywords" content="Good, bootstrap, bootstrap 5, admin themes, Asp.Net Core &amp; Django starter kits, admin themes, bootstrap admin, bootstrap dashboard, bootstrap dark mode" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="https://portal.unical.edu.ng/assets/media/logos/logo53.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link href="~/css/slipcsst.css" rel="stylesheet" asp-append-version="true" />*@
    <style>
        body {
            display: flex;
            flex-direction: column;
        }

        html, body {
            height: auto%;
            margin: 0px;
            padding: 0px;
            min-width: 1500px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 13px !important;
            font-weight: 400;
            overflow: visible;
            background-color: #fff;
            font-family: Inter, Helvetica, "sans-serif";
        }

        .p-10 {
            padding: 2.5rem !important;
        }
     
        .py-20 {
            padding-top: 5rem !important;
            padding-bottom: 5rem !important;
        }

        .pt-20 {
            padding-top: 5rem !important;
        }

        .text-gray-800 {
            color: #403d38 !important;
        }

        .fw-bold {
            font-weight: 600 !important;
        }

        .fs-2qx {
            font-size: calc(1.35rem + 1.2vw) !important;
        }

        h5, .h5 {
            font-size: 1.15rem;
        }

       /* @@media (min-width: 1200px) {
            .fs-2qx {
                font-size: 2.25rem !important;
            }
        }*/

        .fw-semibold {
            font-weight: 500 !important;
        }

        .fs-3 {
            font-size: calc(1.26rem + 0.12vw) !important;
        }
/*
        @@media (min-width: 1200px) {
            .fs-3 {
                font-size: 1.15rem !important;
            }
        }
*/
        .mb-15 {
            margin-bottom: 3.75rem !important;
        }

        ul li {
            margin-bottom: .6rem
        }

        .watermark {
           /* -webkit-transform: rotate(331deg);
            -moz-transform: rotate(331deg);
            -o-transform: rotate(331deg);
            transform: rotate(331deg);*/
            position: absolute;
            padding-left: 10%;
            opacity: 0.1;
            height: 12rem;
            width:100%;
            height:12rem;
            bottom: 0;
            z-index: 1;
            margin: 0;
        }

        .card-watermark::after {
            content: "";
            background: url(img/logo53.png);
            opacity: 0.1;
            top: 0;
            left: 0;
            /*transform: rotate(331deg);*/
            background-repeat: no-repeat;
            background-position: center;
            bottom: 0;
            right: 0;
            scale: 9;
            position: absolute;
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="d-flex justify-content-center align-content-center p-10 py-20">
        <div class="overflow-visible">
            <div class="card border-3 overflow-visible card-watermark" style="padding: 2rem">

                <div class="card-header position-relative text-center bg-transparent border-0">
                    <a href="../../index.html" class="pt-20 mb-12">
                        <img alt="Logo" src="~/img/logo53.png" style="width:6%" class="h-90px" />
                    </a>

                    <h1 class="fw-bold fs-2qx text-gray-800 mb-7">University of Calabar</h1>
                    <h5>University of Calabar, Etagbor, PMB 1115 Calabar</h5>
                    <h6>
                        Email: enquiries@unical.edu.ng &nbsp;&nbsp; Tel: (+234) 812-630-5234, 817-846-5080
                    </h6>
                    <h2 class="fw-bold fs-1qx text-gray-800 mb-7">Admission Slip</h2>

                  @*  <div class="position-relative d-flex justify-content-center text-center">
                        <img class="watermark" src="~/img/logo.jpg" />
                    </div>*@
                </div>

                <div class="card-body">
                    <div class="d-block">
                        <h5><strong class="mr-2 text-muted">Name:</strong> [Student's Name]</h5>
                        <h5><strong class="mr-2 text-muted">Reg No:</strong> [Student ID Number]</h5>
                        <h5><strong class="mr-2 text-muted">Program:</strong> [Program of Study] <span class="float-right"><strong class="mr-2 text-muted">Date:</strong> @DateTime.Now.ToString("dd, MMMM yyyy")</span></h5>
                    </div>

                    <h5 class="mt-5">Dear [Student's Name],</h5>

                    <div class="fw-semibold fs-3 text-muted mb-15">
                        We are pleased to inform you that you have been admitted to [University Name] for the [Academic Year/ Semester].
                        Please present this admission slip upon entering the university premises.

                        <p class="mt-3">Please take note of the following important details:</p>

                       @* <div class="position-relative d-flex justify-content-center text-center">
                            <img class="watermark" src="~/img/logo53.png" />
                        </div>*@
                        <ul>
                            <li>Orientation: An orientation program will be conducted on [Orientation Date and Time]. Attendance is mandatory for all new students.</li>
                            <li>Course Registration: Course registration will begin on [Course Registration Date]. Please consult with your academic advisor for assistance in selecting your courses.</li>
                            <li>Payment of Fees: Please settle your tuition fees on or before [Due Date for Payment of Fees]. A separate billing statement will be provided to you.</li>
                            <li>University ID: Please visit the university ID office to obtain your student ID card.</li>
                        </ul>

                        <p class="mt-3">We hope that you will have a successful academic career with us. Should you have any questions or concerns, please do not hesitate to contact us.</p>
                        <p class="mt-3">Sincerely,</p>
                    </div>

                    <div class="d-block">
                        @*<div class="position-relative d-flex justify-content-center text-center">
                            <img class="watermark" src="~/img/logo-letter-13.png" />
                        </div>*@
                        <h5>[University Authority's Name]</h5>
                        <h5>[University Authority's Position]</h5>
                    </div>
                </div>
                <div class="card-footer position-relative">
                    <div class="fs-5">
                        <span class="fw-semibold text-gray-700">Did’t receive an email?</span>
                        <a href="../layouts/default/sign-up.html" class="link-primary fw-bold">Resend</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>