section.marquee {
    color: white;
    background-color: red;
    font-size: 1rem;
}

.btn-brown {
    background-color: #8C0404;
    border-color: #8C0404;
    color: #ffffff !important;
}

.auth-footer {
    padding: 1rem;
    color: #888c9b;
}

.auth-form {
    position: relative;
    padding: 2rem 1.25rem 0;
    width: 100%;
    z-index: 1;
}

.form-label-group input.placeholder-shown:not(:-webkit-autofill) {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.form-label-group > input, .form-label-group > label {
    padding: 0 .75rem;
}

.form-control {
    box-shadow: inset 0 1px 0 0 rgb(34 34 48 / 5%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media (min-width: 768px) {
    .auth-form {
        padding: 1rem 1rem .5rem;
        border-radius: .25rem;
        background-color: #fff;
        box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 3px 0 rgb(20 20 31 / 15%);
    }
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .form-holder .form-content {
        position: relative;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
    }

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    border: 1px solid #8D8D8D;
    outline: none;
    box-shadow: none;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

    .notice-success > strong {
        color: #80D651;
    }

.notice-info {
    border-color: #45ABCD;
}

    .notice-info > strong {
        color: #45ABCD;
    }

.notice-warning {
    border-color: #FEAF20;
}

    .notice-warning > strong {
        color: #FEAF20;
    }

.notice-danger {
    border-color: #d73814;
}

    .notice-danger > strong {
        color: #d73814;
    }

.notice-brown {
    border-color: rgba(180,5,5,1);
}

.notice-brown > strong {
    color: rgba(180,5,5,1);
}