body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px !important;
    font-weight: 400;
    font-family: Inter, Helvetica, "sans-serif";
}

.app-blank {
    background-color: #fff
}

.flex-root {
    flex: 1;
}

.flex-column-fluid {
    flex: 1 0 auto;
}
.p-10 {
    padding: 2.5rem !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row-fluid {
    flex: 1 auto;
    min-width: 0;
}

.flex-column-fluid {
    flex: 1 0 auto;
}
.py-20 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.pt-20 {
    padding-top: 5rem !important;
}

.text-gray-800 {
    color: var(--kt-text-gray-800) !important;
}

.fw-bold {
    font-weight: 600 !important;
}

.fs-2qx {
    font-size: calc(1.35rem + 1.2vw) !important;
}
h5, .h5 {
    font-size: 1.15rem;
}

@media (min-width: 1200px){
    .fs-2qx {
        font-size: 2.25rem !important;
    }
}

.fw-semibold {
    font-weight: 500 !important;
}

.fs-3 {
    font-size: calc(1.26rem + 0.12vw) !important;
}

@media (min-width: 1200px) {
    .fs-3 {
        font-size: 1.15rem !important;
    }
} 

.mb-15 {
    margin-bottom: 3.75rem !important;
}

ul li{
    margin-bottom: .6rem
}