<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Modern, flexible and responsive Bootstrap 5 admin &amp; dashboard template">
	<meta name="author" content="Bootlab">

	<title>Spark - Bootstrap 5 Admin &amp; Dashboard Template</title>

	<link href="css/modern.css" rel="stylesheet">
	<link href="css/customcss.css" rel="stylesheet" asp-append-version="true">

</head>

<body>
	<div class="splash active">
		<div class="splash-icon"></div>
	</div>

	<nav class="navbar navbar-expand navbar-dark absolute-top w-100 py-2" style="z-index: 9999">
		<div class="container">
			<a class="navbar-brand fw-bold" href="#" style="font-size: 1.5rem;font-weight: 600 !important;">
                <img src="~/img/logo53.png" />
				&nbsp; UNICAL Portal
			</a>
			<button type="button" class="btn text-white btn-pill my-2 ms-2">
				Login
			</button>
		
		</div>
	</nav>

	<section class="pt-7 pb-5 landing-bg text-white overflow-hidden">
		<div class="container py-4 position-relative" style="z-index: 99">
			<div class="row">
				<div class="col-xl-11 mx-auto">
					<div class="row">
						<div class="col-md-12 col-xl-8 text-center mx-auto">
							<div class="d-block my-4">
								<h1 class="display-4 fw-bold mb-3 text-white">Welcome to University of Calabar Undergraduate School Portal</h1>
								<h3 style="color: #f3f148;">...Knowledge For Service</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="marquee p-2">
		<marquee class="mt-2">
			<span class="mr-5"><strong>New Feature Alert: All Students Who have paid their acceptance fees can now re-print their receipt on their dashboard | Students from 2020/2021, 2021/2022 &amp; 2022/2023 Academic Session are to pay their Acceptance fees, School fees here. While for Departmental &amp; Faculty Charges, all students pay&#xA0;here&#xA0;as&#xA0;well...  </strong></span>
			<span class="mr-5"><strong></strong></span>
		</marquee>
	</section>

	<div class="py-3 bg-white landing-nav" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
		<div class="container text-center">
			<div class="btn-group">
				<button type="button" class="btn btn-lg btn-pill btn-outline-dark my-2 ms-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
					Admissions &nbsp;
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Check Admission Status</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Buy Admission Checker PIN </a>
				</div>
			</div>
			
			<div class="btn-group">
				<button type="button" class="btn btn-lg btn-pill btn-outline-dark my-2 ms-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
					Reprint Receipts &nbsp;
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Acceptance Fee Receipt</a>
					
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Buy Admission Checker PIN Receipt </a>
				</div>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-lg btn-pill btn-outline-dark my-2 ms-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
					Reprint Receipts &nbsp;
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Acceptance Fee Receipt</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Buy Admission Checker PIN Receipt </a>
				</div>
			</div>
		</div>
	</div>


	@RenderBody()

	<svg width="0" height="0" style="position:absolute">
		<defs>
			<symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
				<path d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
				</path>
			</symbol>
		</defs>
	</svg>

	<div class="container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<footer class="auth-footer">
					© @($"{DateTime.Now.AddYears(-1).Year.ToString()} / {DateTime.Now.Year.ToString()}") Kindex Micronet.&nbsp;&nbsp; UNICAL Contact Line - 08039008259
				</footer>
			</div>
		</div>
	</div>
	
	<script src="js/app.js"></script>

</body>

</html>